<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gonna Learn Today</title>
  <link rel="icon" href="/imgs/support.ico" >
</head>
<nav class="navbar  navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/main">
      <img src="https://ga-core.s3.amazonaws.com/cms/files/files/000/000/886/original/ga-logo-gear.png" alt="" width="30" height="24">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <% if (currentUser){%>
    <li class="welcome">Welcome, <%= currentUser.username%>
    </li>
  <li>
    <form action="/sessions?_method=DELETE" method="post">
      <input type="submit" value="Log Out" class="btn btn-danger" id="roll-out-left" >
    </form>
  </li>
  <%} else {%>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/users/new">My Account</a>
        </li>
        <%}%>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Explore More Options
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">






            <!-- made it admin or user so i dont have to be logged in on both to access everything -->
            <% if (currentUser){%>
            <li><a class="dropdown-item" href="/student">Learn About More Student Teachers</a></li>

            <%} else if (currentAdmin) {%>
            <li><a class="dropdown-item" href="/student/">Learn About More Student Teachers</a></li>

              <%}else {%>
              <li><a class="dropdown-item" href="/users/new" >Learn About More Student Teachers</a></li>

              <%}%>
                 <!-- end of else -->





            <li><a class="dropdown-item" href="https://generalassemb.ly/" target="_blank" >Learn About GA</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/student/teacherrequest" target="_blank" >Contact Admins About Becoming A Teacher</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
<body>
  
</body>
</html>

























