body{

}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.all{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items:space-between; 
    width: auto;
    height: auto;
}

.Matt, .Jerrica, .Brendan, .Leland{
    color: blue;
    width: 200px;
    height: 300px;
    margin: 20px;
}





