body{

}

/* making all of the things wrap */
.all{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items:space-between; 
    width: auto;
    height: auto;
}

/* making the names */
.Matt, .Jerrica, .Brendan, .Leland{
    color: blue;
    width: 200px;
    height: 300px;
    margin: 20px;
}


/* images making them round */
.Matt img, .Jerrica img, .Brendan img, .Leland img{
    width: 200px;
    height: 200px;
    border-radius: 50%;

}


