@import url(https://fonts.googleapis.com/css?family=Open+Sans|PT+Serif:400,700);

$text-font: "Open Sans", sans-serif;
$logo-font: "PT Serif", serif;
$pg-bg: #bfbfbf;
$transparent-bg: rgba(#eeeeee, 0.9);
$special-color: #b19a9a;
$special-hov-color: #906f6f;

@mixin center() {
  margin-right: auto;
  margin-left: auto;
}

/************* 
Base
**************/

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: $text-font;
  background: $pg-bg;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

fieldset {
  border: none;
}

input[type="submit"] {
  border: none;
  font-size: 1em;
}

/************* 
 Layout
**************/

.l-container {
  margin-top: 20px;
  @include center;
  width: 400px;
  height: 695px;
  box-shadow: 0 0 55px rgba(black, 0.6);
  background: url(https://dl.dropboxusercontent.com/u/11530795/background_image.jpg),
    linear-gradient(-140deg, rgba(#4682b4, 0.5), black);
  background-blend-mode: darken;
  overflow: hidden;
}

/************* 
Modules
**************/
.header {
  padding-top: 10px;
  width: inherit;
  height: 160px;
  text-align: center;
  color: white;
  font-family: $logo-font;
  font-weight: 100;
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 2px;
  .logo {
    @include center;
    padding-top: 15px;
    width: 300px;
    height: 145px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  @include center;
  width: 225px;
  height: 370px;
  border-radius: 2px;
  background: $transparent-bg;
  &__label {
    margin-top: 10px;
    font-size: 12px;
  }
  &__input {
    margin-top: 10px;
    @include center;
    padding-bottom: 20px;
    width: 200px;
    font-size: 11px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid $special-color;
    background: transparent;
  }
  &__submit {
    margin-top: 10px;
    @include center;
    padding: 10px 20px;
    width: 200px;
    font-size: 13px;
    color: white;
    background: $special-color;
  }
}

.connect {
  margin-top: -55px;
  @include center;
  width: 200px;
  height: 50px;
  font-size: 13px;
  text-align: center;
  &__icon {
    margin-left: 30px;
    font-size: 20px;
    color: $special-color;
  }
}

.account {
  padding-left: 15px;
  @include center;
  width: 225px;
  height: 45px;
  font-size: 10px;
  line-height: 45px;
  border-radius: 2px;
  background: $transparent-bg;
  span {
    margin-left: 25px;
    font-size: 13px;
    color: $special-color;
  }
}

.circle {
  stroke: none;
  fill: none;
}
.red {
  visibility: hidden;
}

/************* 
states
**************/

.is-btn-hovered:hover {
  background: $special-hov-color;
}
