<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>contact page</h1>

    <p>trying to make something up with emails and what not so that you dont have to actually make anything up yourself though but i cant do it i dont think not with the technology that we have out right now </p>

     
        <!-- works for email brings up the email and everything but i want it to send it straight from the form not bring up a new email  -->
<!-- still not working but look in bookmrks because they have something good with .php files that i think may work  -->
        <form action="mailto:gatest010@gmail.com method="post" enctype="text/plain" >
        
        Name:<br>
<input type="text" name="name"><br>
E-mail:<br>
<input type="text" name="mail"><br>
Comment:<br>
<input type="text" name="comment" size="50"><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
        
        
        
        
        </form>
        <a href="mailto:gatest1010@gmail.com?subject=Testing out mailto!">Send Email</a>
        
    
</body>
</html>